<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Currency Converter</h1>
    <form method="POST">
        <div class="converter">
            <div class="amount-from-to">
                <div class="amount">
                    <span>Amount</span>
                    <input type="number" name="amount" id="amount" step="0.01" required><br>
                </div>   

                <div class="from-currency">
                    <span>From:</span>
                    <select name="from_currency" id="from_currency">
                        <option value="0">Select Currency:</option>
                        {% for currency_code, currency_name in currencies.items() %}
                            <option value="{{ currency_code }}">
                                {{ currency_name }} ({{ currency_code.upper() }})
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="to-currency">
                    <span>To:</span>
                    <select name="to_currency" id="to_currency">
                        <option value="0">Select Currency:</option>
                        {% for currency_code, currency_name in currencies.items() %}
                            <option value="{{ currency_code }}">
                                {{ currency_name }} ({{ currency_code.upper() }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" id="submit">Convert</button>
        </div>
    </form>

    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}
    
</body>
</html>